<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LibraryMgtEntities" connectionString="metadata=res://*/LibraryMgtModel.csdl|res://*/LibraryMgtModel.ssdl|res://*/LibraryMgtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LAPTOP-ATITUSHA\SQLEXPRESS1;Initial Catalog=LibraryMgt;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Library_mgm.Properties.Settings.LibraryMgtSysConnectionString" connectionString="Data Source=DESKTOP-QEPF0LF\SQLEXPRESS;Initial Catalog=LibraryMgtSys;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Library_mgm.Properties.Settings.library_management_systemConnectionString" connectionString="Data Source=DESKTOP-0LFNEKC\SQLEXPRESS;Initial Catalog=library_management_system;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
